<h1>Receipt </br></h1>
Name: <%= @recipe.name %> </br>
Ingredients: <%= @recipe.ingredients %> </br>
Cook Time: <%= @recipe.cook_time %> </br>
</br>
<form method="POST" action="/recipes/<%= @recipe.id %>">
<input id="hidden" type="hidden" name="_method" value="PATCH">
Name: <input type="text" name="name"> </br>
Ingredients: <input type="text" name="ingredients"> </br>
Cook_time: <input type="text" name="cook_time"> </br>
<input type="submit" id="submit">
</form>