<form mothod="POST" action='/recipes'>
Name: <input type="text" name="name"> </br>
Ingredients: <input type="text" name="ingredients"> </br>
Cook_time: <input type="text" name="cook_time"> </br>
<input type="Submit">
</form>