<h1>Receipt </br></h1>
Name: <%= @recipe.name %> </br>
Ingredients: <%= @recipe.ingredients %> </br>
Cook Time: <%= @recipe.cook_time %> </br>
</br>
<form method="post" action="/recipes/<%=@recipe.id%>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="delete">